*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.clear{
    clear: both;
}

.overlay{
        background-image: url(Aquarela.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: black;
        
    
}
.mask {
    width: 100%;
    height: 100%;
    background-color: #8c3c1fab;
}
.limitador-corpo{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.cabecalho{
    width: 100%;
    height: 80px;
   
}
.logo{
    margin-left: 60px;
    width: 250px;
    height:250px;
    
     
}
.logo img{
    margin-top: -76px;
    width: 100%;
    height: 100%;
}

.conteudo{
    background-color: rgba(255, 255, 255, 0.788);
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    
    
}
.conteudo-esquerda{
    float: left;
    width: 50%;
    padding-top: 0%;
    padding-left: 0%;
}
.conteudo-direita{
    width: 50%;   
    float: right;
    padding-top: 7%;
    
}

.conteudo-esquerda img{
    width:100%;
    height: 100%;
    margin-left: 15%;
    margin-top: 5%;

    
}

.conteudo-direita form{
    width: 90%;
    height: 100%;
    background-color: white;
    padding: 5%;
    margin: 0 auto;
    
}

.limitador{
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

form h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 25px;
}
.h1{
    font-family: 'Source Code Pro', monospace;
}
form p{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    
    
}

form h2{

    font-family: 'Playfair Display SC', serif;
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
    
}

form h3{
    font-family: 'Playfair Display SC', serif;
    text-decoration:line-through;
    font-size: 25px;
    
    text-align: center;
}


form input{
    width: 90%;
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(128, 126, 126);
    cursor: pointer;
    background-color: rgb(233, 219, 219);
}

form input[type="submit"]{

    background-color: rgb(33, 117, 33);
    color: white;
    margin-bottom: 20px;
    font-weight: 10;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
}

.private{
    
    font-size: 10px;
    color: rgb(155, 149, 149);
    margin-bottom: 10px;
    margin-top: 10px;
}
.mais{
    padding-top: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.788);
    
    
}
.exibir-celular{
    
    width: 40%;
    margin: 0 auto;
    padding: 2%;
}
.exibir-celular p{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}

.exibir-celular ul{

    margin-left: 5%;

}
.exibir-celular ul li{
    font-family: 'Source Code Pro', monospace;
    margin-top: 30px;


}
.mais h1{
    font-family: 'Julius Sans One', sans-serif;
    
    font-size: 35px;
    text-align: center;
}

.box1{
    width: 23%;
    height: 300px;
    background-image: url('partohumaniz.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    text-align: center;
    margin-top: 60px;
    margin-left: 8%;
}

.box2{
    width: 23%;
    height: 300px;
    background-image: url('prephormonio.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    text-align: center;
    margin-top: 60px;
    margin-left: 8%;
}
.box3{
    width: 23%;
    height: 300px;
    background-image: url('trabalhodeparto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    text-align: center;
    margin-top: 60px;
    margin-left: 8%;
}
.conteudo2{
    background-color: rgba(255, 255, 255, 0.788);
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    
    
    
}
.conteudo-a0{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 18px;
}
.conteudo-a{

    background-color: rgb(33, 117, 33);
    color: white;
    margin-bottom: 20px;
    font-weight: 10;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    border-radius: 16px;
    width: 100%;
    padding: 10px;
    
    
}
.conteudo2 form h1{

    font-family: 'Source Code Pro', monospace;
    margin-bottom: 20px;
    font-size: 22px;
}
.conteudo-esquerda2{
    float: left;
    width: 50%;
    padding-top: 0%;
    padding-left: 0%;
}
.conteudo-direita2{
    width: 50%;   
    float: right;
    padding-top: 7%;
    
}
.conteudo-esquerda2 img{
    width:100%;
    height: 100%;
    
    
}

.conteudo-direita2 form{
    width: 90%;
    height: 100%;
    background-color: white;
    padding: 5%;
    margin: 0 auto;
    
}

/*sobre-gabi*/

.sobre-gabi{

    width: 100%;
    height: auto;
    padding:10px 0;
    background-color: rgba(255, 255, 255, 0.788);
}
.conteudo-sobre-gabi{
    width: 30%;
    height: auto;
    margin: 0 auto;
    
}
.conteudo-sobre-gabi img{
    
    width: 100%;
}

.conteudo-sobre-gabi2{
    width: 100%;
    height: auto;
    
}

.conteudo-sobre-gabi2-txt{

    width: 40%;
    height: auto;
    
    margin: 0 auto;
    text-align: center;
}
.conteudo-sobre-gabi2-txt p{
    padding: 20px 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    
}

/*sobre-gabi*/

.mais0{
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.705);
    
    
}

.mais0 h1{
    font-family: 'Source Code Pro', monospace;
    font-weight: 130;
    font-size: 35px;
    text-align: center;
    padding: 60px 0;
}
.box0{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.box01{
    border: 1px solid rgb(177, 176, 176);
    border-radius: 25px;
    width: 23%;
    height: 200px;
    float: left;
    text-align: center;
    margin-left: 30px;

    
}
.box01 img{
    width: 177px;
    height: 95px;
    margin: 0 auto;
    
}
.box01 p{
    text-align: center; 
    font-family: 'Source Code Pro', monospace;
    color: rgb(155, 149, 149);
    font-size: 20px;
    padding-bottom: 30px;
}
.box0 h3 a{
    text-decoration: none;
    color: rgb(155, 149, 149);
}
.box01 h3 {
    
    text-align: center; 
    font-family: 'Source Code Pro', monospace;
    color: rgb(155, 149, 149);
    font-size: 10px

}





/*responsividade*/

@media screen and (max-width: 1020px){
  
    .box1{
        width: 100%;
        max-width: 45%;
        float: none;
        text-align: center;
        margin-top: 60px;
        margin-left: 30%;
    } 
    .box2{
        width: 100%;
        max-width: 45%;
        float: none;
        text-align: center;
        margin-top: 60px;
        margin-left: 30%;
    } 
    .box3{
        width: 100%;
        max-width: 45%;
        float: none;
        text-align: center;
        margin-top: 60px;
        margin-left: 30%;
    } 
    .conteudo2{
        
        height: 100%;
    }

    .conteudo-esquerda2{
        width: 100%;   
        float: none;
        padding-top: 0%;
        padding: 0px;
    }
    .conteudo-direita2{
        width:100%; 
        float: none;
        padding-top: none;
        padding: 30px;
        
    }

    .conteudo-esquerda2 img{
      text-align: center;
      
        
    }

    .box1{
        width: 100%;
        height: 280px;
       
        
    }
    .box2{
        width: 100%;
        height: 280px;
       
    }
    .box3{
        width: 100%;
        height: 280px;
        
    }

    .box01{
        width: 100%;
        max-width: 80%;
        float: none;
        text-align: center;
        margin-left: 5px
    } 
    .conteudo-direita{

        float: none;
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        padding: 0px;
        
    }

    .limitador{
        width: 100%;
    }

    form p{
       
        font-size: 18px;
        
        
        
    }

    .exibir-celular{

        width: 100%;
        margin: 0 auto;
        padding: 5%;
    }
    .exibir-celular ul{
    
        margin-left: 5%;
    
    }
    
    

}

@media screen and (max-width: 650px){

    .cabecalho{
        width: 100%;
        height: 80px;
       
    }
    .logo{
        
        margin: 0 auto;
         
    }

    .logo img{
        margin-top: -76px;
        width: 100%;
        height: 100%;
    }


    .conteudo-esquerda img{
        width:100%;
        height: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }
        
        
    
    .conteudo-esquerda{
        float: none;
        width: 100%;
        
        
    }

    .conteudo-direita form{
        width: 100%;
    }

    .limitador{
        width: 100%;
    }


    .box1{
        width: 100%;
        height: 260px;
       
        
    }
    .box2{
        width: 100%;
        height: 260px;
       
    }
    .box3{
        width: 100%;
        height: 260px;
        
    }

    .box0{
       
        display: block;
        justify-content: none;
        margin: 0 auto;
    }
    .box01{
      
        margin: 20px auto;
    
        
    }

    .box01 p{
        text-align: center; 
        font-family: 'Roboto', sans-serif;
        color: rgb(155, 149, 149);
        font-size: 18px;
        padding-bottom: 30px;
    }
    .box01 h3{
        
        text-align: center; 
        font-family: 'Roboto', sans-serif;
        color: rgb(155, 149, 149);
        font-size: 8px
    
    }
/*sobre-gabi*/


.conteudo-sobre-gabi{
    width: 60%;
    
}


.conteudo-sobre-gabi2{
    width: 100%;
    height: auto;
    
}

.conteudo-sobre-gabi2-txt{
    width: 90%;
}

/*sobre-gabi*/


}





@media screen and (max-width: 550px){
  

.limitador-corpo{
    width: 100%;
}

.box1{
 display: none;
   
    
}
.box2{
    display: none;
   
}
.box3{
    display: none;
    
}


.box01{
    max-width: 60%;
    margin-left: 21%;
}
}





@media screen and (max-width: 450px){

    .conteudo-esquerda2{
        width: 100%;   
        float: none;
        padding-top: 0%;
        padding: 0px;
    }

    .conteudo2 form input[type="submit"] {
        font-size: 10px;
    }


    form input {
        
        font-size: 11px;
    }

    .box0{
        width: 100%;
        height: 100%;
        display: block;
        padding: 0px;
        margin: 0 auto;
    }


    .box01{
        border: 1px solid rgb(177, 176, 176);
        border-radius: 25px;
        width: 100%;
        height: 200px;
        float: none;
        text-align: center;
        margin: 60px auto;
        
    }

    .box01 img{
        width: 150px;
        height: 70px;
        margin: 0 auto;
        
    }
    .box01 p{
        text-align: center; 
        font-family: 'Roboto', sans-serif;
        color: rgb(155, 149, 149);
        font-size: 16px;
        padding-bottom: 30px;
    }
    .box01 h3 {
        
        text-align: center; 
        font-family: 'Roboto', sans-serif;
        color: rgb(155, 149, 149);
        font-size: 9px
    
    }

}